<div class="container mt-3">
    <h1 style="font-size: 70px;margin-left:70px;"><i class="fa-solid fa-film"></i> Consultez Nos Activitées <i class="fa-solid fa-film"></i></h1>
    <form action="" [formGroup]="Filtre" class="row g-3" style="margin-top: 25px;margin-left:200px;" >
        <h3>Filtrer:</h3>

        <div class="col-md-4">

            <select (change)="filtre()" class="form-select" formControlName="cat" >
                <option value="formation">Formation</option>
                <option value="event">Evennement</option>
                <option value="sortie">Sortie</option>
                <option value="" selected>tout</option>
            </select>
        </div>

        <div class="col-md-4">

            <input type="date" class="form-control " formControlName="date" (change)="filtre()">
        </div>
        <div class="col-md-4">

            <button type="reset" class="btn btn-secondary" (click)="reset()" mat-button><i class="fa-solid fa-arrow-rotate-left"></i></button>
        </div>
    </form>

    <div class="row">

        <div *ngFor="let a of activitiesAfficher" class="col-md-4" style="padding: 10px;">
            <app-listenfant [li]="a"></app-listenfant>

        </div>


    </div>
</div>