<h1>Vous pouvez nous envoyer vos suggestion a travers ce formulaire !</h1>


<form [formGroup]="sugges" class="form-horizontal">
<label class="control-label col-sm-2">vous etes :</label>
<input type="text" placeholder="nom et prenom" formControlName="nom" class="form-control" placeholder="flen el fouleni">
<label class="control-label col-sm-2" for="email">votre adresse mail :</label>
<input type="email" placeholder="adresse email" formControlName="mail" class="form-control" placeholder="xxxxx@mailcom">
<label>votre suggestion :</label>
<textarea cols="30" rows="10" placeholder="votre suggestion" formControlName="sugg" class="form-control" placeholder="votre message"></textarea>


<input type="button" value="envoyer" (click)="send()" class="btn btn-primary">
</form>