<a routerLink="/admin/acts" class="btn btn-light"> <i class="fa-solid fa-arrow-left fa-xl"></i> </a>
<div class="container">
    <h1><strong>Ajouter Activitée</strong></h1>
    <table class="table table-striped">
        <tr>
            <td>
                <div class="mb-3 mt-3">
                    <label>ID:</label>
                    <input type="number" class="form-control form-control-sm"
                        (change)="test(id.value,int.value,date.value,lieu.value)" #id>
                </div>
            </td>
            <td>
                <div class="mb-3 mt-3">
                    <label>Intulité:</label>
                    <input type="text" class="form-control form-control-sm"
                        (change)="test(id.value,int.value,date.value,lieu.value)" #int>
                </div>
            </td>
        </tr>
        <tr>
            <td>
                <div class="mb-3 mt-3">
                    <label>photo:</label>
                    <input type="file" class="form-control form-control-sm" #ph>
                </div>
            </td>
            <td>
                <div class="mb-3 mt-3">
                    <label>Date:</label>
                    <input type="date" class="form-control form-control-sm"
                        (change)="test(id.value,int.value,date.value,lieu.value)" #date>
                </div>
            </td>
        </tr>
        <tr>
            <td>
                <div class="mb-3 mt-3">
                    <label>categorie:</label>
                    <select class="form-control form-control-sm" #cat>
                        <option value="formation" selected>Formation</option>
                        <option value="event">Evennement</option>
                        <option value="sortie">Sortie</option>
                    </select>
                </div>
            </td>
            <td>
                <div class="mb-3 mt-3">
                    <label>Lieu:</label>
                    <input type="text" class="form-control form-control-sm"
                        (change)="test(id.value,int.value,date.value,lieu.value)" #lieu>
                </div>
            </td>
        </tr>

        <tr>
            <td>

                <div class="mb-3 mt-3">
                    <label>Prix:</label>
                    <input type="number" class="form-control form-control-sm" #prix>
                </div>
            </td>
            <td>
                <div class="mb-3 mt-3">
                    <table class="table table-striped">
                        <tr>
                            <td>
                                <label>les places sont Limitées </label>
                            </td>
                            <td>
                                <input type="radio" name="places" class="form-check-input" #ch>Oui
                            </td>
                            <td>
                                <input type="radio" name="places" class="form-check-input" checked>Non
                            </td>
                        </tr>
                    </table>
                </div>
            </td>
        </tr>
    </table>




    <button class="btn btn-primary" id="butt" disabled
        (click)="onAjoute(id.value,int.value,ph.value,date.value,cat.value,lieu.value,prix.value,ch.checked)">Ajouter</button>
</div>