<div class="container mt-4 d-block" >
    <div>
        <h1><i class="fa-solid fa-user"></i>Welcome {{user | titlecase}}</h1>
    </div>

    <ul class="list-group">
        <li class="list-group-item ">
            <a routerLink="/admin/acts">Consulter Activite <i class="fa-solid fa-chevron-right"></i></a>
        </li>
        <li class="list-group-item">
            <a routerLink="/admin/pwd">Changer Mot de passe <i class="fa-solid fa-chevron-right"></i>

            </a>
        </li>
        <li class="list-group-item">
            <a routerLink="/admin/boite">  Boîte des suggestions <i class="fa-solid fa-chevron-right"></i></a>
        </li>
        <li class="list-group-item">
            <a routerLink="/admin/consRes">Consulter les membres responsables <i class="fa-solid fa-chevron-right"></i></a>
        </li>
        <li class="list-group-item">
            <a routerLink="/admin/user">Changer User Name <i class="fa-solid fa-chevron-right"></i></a>
        </li>
    </ul>
</div>