<div><h1><i class="fa-solid fa-user"></i>Welcome Admin</h1></div>

<ul class="list-group">
    <li class="list-group-item ">
        <a routerLink="/admin/acts">Consulter Activite   <i class="fa-solid fa-chevron-right"></i></a>
    </li>
    <li class="list-group-item">
        <a routerLink="/admin/pwd">Changer Mot de passe  <i class="fa-solid fa-chevron-right"></i>

        </a>
    </li>
    <li class="list-group-item">
        <a routerLink="#">Third item   <i class="fa-solid fa-chevron-right"></i></a>
    </li>
</ul>
