<section class="py-3 py-md-5 py-xl-8">
<div class="container">
    <div class="row">
      <div class="col-12 col-md-10 col-lg-8">
        <h3 class="fs-5 mb-2 text-secondary text-uppercase">Who we are?</h3>
        <h2 class="display-7 mb-4">Iset'Cima est bien plus qu'un simple club de cinéma à ISET Charguia.
             Nous sommes une communauté passionnée par le monde du cinéma, dédiée à explorer et célébrer la diversité 
             et la magie du septième art. Notre club s'engage à offrir une expérience cinématographique enrichissante 
             à nos membres et à la communauté étudiante.</h2>
        <a type="button" class="btn btn-lg btn-primary mb-3 mb-md-4 mb-xl-5" routerLink="/home">Consultez Nos Activitées</a>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="row gy-3 gy-md-4 gy-lg-0">
      <div class="col-12 col-lg-12">
        <div class="card bg-light p-3 m-0">
          <div class="row gy-3 gy-md-0 align-items-md-center">
            <div class="col-md-5">
              <img src="./assets/about us.jpg" class="img-fluid rounded-start" >
            </div>
            <div class="col-md-7">
              <div class="card-body p-0">
                <h2 class="card-title h4 mb-3">What we do?</h2>
                <p class="card-text lead">Nous organisons régulièrement des événements captivants, 
                    allant de projections de films inédits à des débats animés sur l'industrie cinématographique contemporaine.
                     De plus, nous proposons des formations approfondies pour ceux qui aspirent à mieux comprendre les techniques
                      cinématographiques, allant de la réalisation à la post-production. Mais notre engagement ne se limite pas aux murs
                       de l'université : nous organisons également des sorties pour assister à des festivals de cinéma, des visites de studios 
                       et des rencontres avec des professionnels de l'industrie. Rejoignez-nous pour explorer le pouvoir transformateur du cinéma 
                       et créer des souvenirs qui dureront toute une vie.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
     
    </div>
  </div>
  </section>