<a routerLink="/admin/menu" class="btn btn-light"> <i class="fa-solid fa-arrow-left fa-xl"></i>
    <div><i class="fa-solid fa-user"></i> {{user | titlecase}}</div>
</a>

<div class="container mt-3">
    <div style="display: flex;justify-content: space-between;">
        <label>Identifiant de l'activitée:<input type="number" (change)="find(id.value)" class="form-control"
                #id /></label>
        <label>Categorie:<select (change)="filtre(cat.value)" class="form-control" #cat>
                <option value="" selected>tout</option>
                <option value="formation">Formation</option>
                <option value="event">Evennement</option>
                <option value="sortie">Sortie</option>
            </select></label>

        <button (click)="goAjouter()" class="btn btn-secondary" style="height: 40px;">Ajouter Activitée</button>
    </div>
    <hr>

    <table class="table table-striped">
        <thead>
            <tr>
                <th>Photo</th>
                <th (click)="trier(1)"><i class="fa-solid fa-arrows-up-down fa-xs"></i>Id</th>
                <th (click)="trier(2)"><i class="fa-solid fa-arrows-up-down fa-xs"></i>Intulité</th>
                <th (click)="trier(3)"><i class="fa-solid fa-arrows-up-down fa-xs"></i>Date</th>
                <th>Catégorie</th>
                <th>Lieu</th>
                <th>Responsables</th>
                <th>Prix</th>
                <th>Places Limitées</th>
                <th></th>
                <th></th>

            </tr>
        </thead>
        <tbody>

            <tr *ngFor="let a of activitiesAfficher, index as i">
                <td><img [src]="a.photo" style="height: 40px;width: 40px;"></td>
                <td>{{a.id}}</td>
                <td>{{a.int}}</td>
                <td>{{a.date_act | date:"dd/MM/yyyy"}}</td>
                <td>{{a.categorie}}</td>
                <td>{{a.lieu}}</td>
                <td><ng-container *ngFor="let r of a.responsables">
                        {{r.nom }}<br>
                    </ng-container></td>
                <td><span *ngIf="a.prix != 0 ; else gratuit">{{a.prix}}DT</span><ng-template
                        #gratuit>Gratuit</ng-template></td>
                <td><span *ngIf="a.limite;else non">Oui</span><ng-template #non>Non</ng-template></td>
                <td><a [routerLink]="['/admin/modifier',a.id]" class="btn btn-info">Modifier</a></td>
                <td><button (click)="supprimer(a.id,i)" class="btn btn-danger">X</button></td>
            </tr>
        </tbody>
    </table>
</div>