<section class="py-3 py-md-5 py-xl-8">

  <div class="container">
      <h1><i class="fa-solid fa-film"></i> TOP 10 movies of all time <i class="fa-solid fa-film"></i></h1>






<div id="demo" class="carousel slide" data-bs-ride="carousel" style="background-color:#090909;">


  <div class="carousel-indicators">
    <button type="button" data-bs-target="#demo" data-bs-slide-to="0" class="active"></button>
    <button type="button" data-bs-target="#demo" data-bs-slide-to="1"></button>
    <button type="button" data-bs-target="#demo" data-bs-slide-to="2"></button>
    <button type="button" data-bs-target="#demo" data-bs-slide-to="3"></button>
    <button type="button" data-bs-target="#demo" data-bs-slide-to="4"></button>
    <button type="button" data-bs-target="#demo" data-bs-slide-to="5"></button>
    <button type="button" data-bs-target="#demo" data-bs-slide-to="6"></button>
    <button type="button" data-bs-target="#demo" data-bs-slide-to="7"></button>
    <button type="button" data-bs-target="#demo" data-bs-slide-to="8"></button>
    <button type="button" data-bs-target="#demo" data-bs-slide-to="9"></button>
  </div>


  <div class="carousel-inner" id="carContainerTop">

  </div>


  <button class="carousel-control-prev" type="button" data-bs-target="#demo" data-bs-slide="prev">
    <span class="carousel-control-prev-icon"></span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#demo" data-bs-slide="next">
    <span class="carousel-control-next-icon"></span>
  </button>
</div>




<div class="container mt-4 d-block">
  <h1><i class="fa-solid fa-film"></i> Upcoming movies <i class="fa-solid fa-film"></i></h1>
</div>





<div id="demoUp" class="carousel slide" data-bs-ride="carousel" style="background-color:#090909;">


  <div class="carousel-indicators">
    <button type="button" data-bs-target="#demoUp" data-bs-slide-to="0" class="active"></button>
    <button type="button" data-bs-target="#demoUp" data-bs-slide-to="1"></button>
    <button type="button" data-bs-target="#demoUp" data-bs-slide-to="2"></button>
    <button type="button" data-bs-target="#demoUp" data-bs-slide-to="3"></button>
    <button type="button" data-bs-target="#demoUp" data-bs-slide-to="4"></button>
    <button type="button" data-bs-target="#demoUp" data-bs-slide-to="5"></button>
    <button type="button" data-bs-target="#demoUp" data-bs-slide-to="6"></button>
    <button type="button" data-bs-target="#demoUp" data-bs-slide-to="7"></button>
  </div>


  <div class="carousel-inner" id="carContainerUp">

  </div>


  <button class="carousel-control-prev" type="button" data-bs-target="#demoUp" data-bs-slide="prev">
    <span class="carousel-control-prev-icon"></span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#demoUp" data-bs-slide="next">
    <span class="carousel-control-next-icon"></span>
  </button>
</div>
</div>
</section>