.active{font-weight: bold;}
.nav-item {
    margin-right: 15px; 
  }

    .hero {
        height: 100vh;
        width: 100%;
        background-size: cover;
        background-position: center center;
        background-repeat: no-repeat; }
        

