<a routerLink="/admin/menu" class="btn btn-light"> <i class="fa-solid fa-arrow-left fa-xl"></i>
    <div><i class="fa-solid fa-user"></i> {{user | titlecase}}</div>
</a>
<section class="py-3 py-md-5 py-xl-8">

<div class="container">
<form [formGroup]="changerUser" class="row g-3" (ngSubmit)="onChange()">
                <h1><strong>Changer Admin User Name</strong></h1>
                <div class="col-md-6">

            <strong>Nouveau nom d'utulisateur </strong>
            <input type="text" class="form-control" formControlName="u">
            </div>
            <div class="col-md-6">

            <strong> Mot de passe</strong>
            <input type="password" class="form-control" formControlName="pwd">
            </div>
            <button class="btn btn-primary ">Changer</button>
</form>
</div>
</section>