<a routerLink="/admin/menu" class="btn btn-light"> <i class="fa-solid fa-arrow-left fa-xl"></i><div><i class="fa-solid fa-user"></i> {{user | titlecase}}</div></a>
<table class=" mx-auto">
   <thead> <tr  class="mb-2"> <th>    <h1><strong>Ajouter Activitée</strong></h1>    </th> </tr> </thead>

    <tbody><tr><td><strong>Ancien mot de passe </strong></td><td><input type="text" class="form-control" #pwd1></td>
    </tr>
    <tr><td><strong> Mot de passe</strong></td><td><input type="password" class="form-control" #pwd2></td>
    </tr>
    <tr><td><strong>Confirmer nouveau mot de passe</strong></td><td><input type="password" class="form-control" #pwd3></td>
    </tr>
    <tr  class="mb-2"><td><button (click)="onChange(pwd1.value,pwd2.value,pwd3.value)" class="btn btn-primary ">changer</button>
    </td></tr>
</tbody>
</table>

