<a routerLink="/admin/menu" class="btn btn-light"> <i class="fa-solid fa-arrow-left fa-xl"></i>
    <div><i class="fa-solid fa-user"></i> {{user | titlecase}}</div>
</a>

<section class="py-3 py-md-5 py-xl-8">


<div class="container">
<form [formGroup]="changerPwd" class="row g-3" (ngSubmit)="onChange()">
                <h1><strong>Changer Votre Mot de Passe</strong></h1>
                <div class="col-md-12">

            <strong>Ancien mot de passe </strong>
            <input type="password" class="form-control" formControlName="pwd1">
            </div>
            <div class="col-md-12">

            <strong>Nouveau mot de passe</strong>
            <input type="password" class="form-control" formControlName="pwd2">
            </div>
            <div class="col-md-12">

            <strong>Confirmer nouveau mot de passe</strong>
            <input type="password" class="form-control" formControlName="pwd3">
            </div>
            <button class="btn btn-primary ">Changer</button>
</form>
</div>
</section>