
<img src="assets/banniere.png" alt="banniere ISET">
<nav class="navbar navbar-expand-sm navbar-dark bg-dark">
    <div class="container-fluid">
      <div class="collapse navbar-collapse" id="mynavbar">
        <ul class="navbar-nav me-auto">
            <li class="nav-item">
    

        <a class="nav-link"  routerLink="/login"><i class="fa-solid fa-arrow-left" style="color: #ffffff;"></i>retour</a>
        </li>
        </ul>

    <button type="button" class="btn btn-primary"  (click)="logout()">Deconnexion</button>
    </div>
    </div>
    </nav>
        

<router-outlet></router-outlet>